<div mat-dialog-title class="header">
    <p>Add ticket information</p>
</div>
<div mat-dialog-content>
    <form name="addTicketForm" [formGroup]="addTicketForm">
        <div class="">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Inbound</mat-label>
                <input 
                    type="text"
                    matInput
                    formControlName="inbound"
                    placeholder="Enter inboound"
                    required
                >
                <mat-error *ngIf="!addTicketForm.controls['inbound'].valid">
                    Inbound is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Outbound</mat-label>
                <input 
                    type="text"
                    matInput
                    formControlName="outbound"
                    placeholder="Enter outbound"
                    required
                >
                <mat-error *ngIf="!addTicketForm.controls['outbound'].valid">
                    Outbound is required
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ticket Type</mat-label>
                <mat-select appearance="outline" mat-input formControlName="ticket_type"
                placeholder="Enter ticket type"
                required>
                    <mat-option value="Economy">Economy</mat-option>
                    <mat-option value="Business">Business</mat-option>
                </mat-select>
                <mat-error *ngIf="!addTicketForm.controls['ticket_type'].valid">
                    Ticket type is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="price-container">
            <mat-form-field appearance="outline">
                <mat-label>Price(inbound)</mat-label>
                <input 
                    type="number"
                    matInput
                    formControlName="price_inbound"
                    placeholder="Enter inbound price"
                    required
                >
                <mat-error *ngIf="!addTicketForm.controls['price_inbound'].valid">
                    Inbound price can not be empty
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Price(outbound)</mat-label>
                <input 
                    type="number"
                    matInput
                    formControlName="price_outbound"
                    placeholder="Enter price"
                    required
                >
                <mat-error *ngIf="!addTicketForm.controls['price_outbound'].valid">
                    Outbound price can not be empty
                </mat-error>
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>From date</mat-label>
                <input 
                    type="text"
                    matInput
                    formControlName="from_date"
                    placeholder="Enter date"
                    required
                    [matDatepicker]="from_date"
                >
                <mat-datepicker-toggle matSuffix [for]="from_date"></mat-datepicker-toggle>
                <mat-datepicker #from_date></mat-datepicker>
                <mat-error *ngIf="!addTicketForm.controls['from_date'].valid">
                    From date is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>To date</mat-label>
                <input 
                    type="text"
                    matInput
                    formControlName="to_date"
                    placeholder="Enter to date"
                    required
                    [matDatepicker]="to_date"
                >
                <mat-datepicker-toggle matSuffix [for]="to_date"></mat-datepicker-toggle>
                <mat-datepicker #to_date></mat-datepicker>
                <mat-error *ngIf="!addTicketForm.controls['to_date'].valid">
                    To date is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Seat number</mat-label>
                <input 
                    type="number"
                    matInput
                    formControlName="seat_number"
                    placeholder="Enter seat number"
                    required
                >
                <mat-error *ngIf="!addTicketForm.controls['inbound'].valid">
                    Seat number is required
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn">Close</button>
    <button mat-raised-button color="primary" (click)="addTicket()">Save</button>
</div>



