<p *ngIf="currentUser">
    <button *ngIf="currentUser.role === 'admin'" mat-flat-button (click)="openDialog()" color="primary">
        Add ticket
    </button>
</p> 
<div class="table-container">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="inbound">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inbound </th>
        <td mat-cell *matCellDef="let row"> {{row.inbound}} </td>
      </ng-container>
  
      <ng-container matColumnDef="outbound">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Outbound </th>
        <td mat-cell *matCellDef="let row"> {{row.outbound}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ticket_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket type </th>
        <td mat-cell *matCellDef="let row"> {{row.ticket_type}} </td>
      </ng-container>
  
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let row"> Inbound: {{row.price[0]}}/ Outbound: {{row.price[1]}}</td>
      </ng-container>

      <ng-container matColumnDef="from_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> From date </th>
        <td mat-cell *matCellDef="let row"><p *ngIf="row.from_date">{{row.from_date.toDate() | date:'dd/MM/YYYY'}} </td>
      </ng-container>

      <ng-container matColumnDef="to_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> To date </th>
        <td mat-cell *matCellDef="let row"><p *ngIf="row.to_date">{{row.to_date.toDate() | date:'dd/MM/YYYY'}}<p></td>
        
      </ng-container>

      <ng-container matColumnDef="seat_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Seat number</th>
        <td mat-cell *matCellDef="let row"> {{row.seat_number}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>View ticket</th>
        <td mat-cell *matCellDef="let row"> 
          <button mat-icon-button (click)="showTicket(row)"> 
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="7">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <div *ngIf="loadingTable" 
      style="display: flex; justify-content: center; align-items: center; background: white;">
      <mat-progress-spinner 
        color="primary" 
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tickets"></mat-paginator>
  </div>
</div>

  




