<mat-card>
    <mat-card-content>
        <div class="header">
            <h1>Ticket Details</h1>
        </div>
        <div *ngIf="ticketData">
            <p>Inbound : {{ticketData.inbound}}</p>
            <p>Outbound : {{ticketData.outbound}}</p>
            <p>Ticket Type : {{ticketData.ticket_type}}</p>
            <p>Inbound Price : {{ticketData.price[0]}}</p>
            <p>Outbound Price : {{ticketData.price[1]}}</p>
        </div>
    </mat-card-content>
</mat-card>>